################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x86/Debug
/.vs/
/obj/x86/Release
/bin/Debug/DuckDNS.NET.exe.config
/bin/Debug/DuckDNS.NET.pdb
/bin/Release/DuckDNS.NET.exe.config
/bin/Release/DuckDNS.NET.pdb
